body {
  background: #3b3b3b;
}

.App {
  text-align: center;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenedorMeme {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.contenedorMeme #meme {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.meme {
  width: 100%;
  min-width: 500px;
  max-width: 500px;
  z-index: 0;
  height: 100%;
}

.lineaS, .lineaI {
  text-transform: uppercase;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 100%;
  position: absolute;
  color: white;
  z-index: 1;
  margin-top: 15px;
  font-size: xx-large;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
}

.lineaI {
  margin-top: 250px;
}